<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="session">
	<ul>
		<li><a href="upgrade.html" class="ok">&laquo; upgrade your account</a> (you are using 90% of your available space)</li>
		<li><a href="logout.html">logout</a></li>
		<li><a href="project-settings.html">project settings</a></li>
		<li><a href="people.html">people</a></li>
		<li><a href="profile.html">rodrigogalindez</a></li>
	</ul>
</div>

<div id="wrapper" class="span-12">
	<h1><span class="editable">Edit your project name</span></h1>
	
	<div id="nav">
		<ul>
			<li><a href="dashboard.html">Dashboard</a></li>
			<li><a href="browse.html" class="active">Browse</a></li>
			<li><a href="messages.html">Messages</a></li>
			<li><a href="metrics.html">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper">
		<div id="page-header">
			<div class="col span-8">
				<h2>Browse</h2>
			
				<ul>
					<li><a href="">Daily scrums</a></li>
					<li><a href="">Previous Sprints</a></li>
				</ul>
			</div>
			
			<div class="col last span-4">
			</div>
		</div>
		
		<div id="content-wrapper">
			<div class="col span-6">
				<div class="section">
					<h3>Stories by person</h3>
					
					<div class="tags">
						<p><a href="browse-by-person.html" class="small">rodrigogalindez</a> <a href="browse-by-person.html" class="large">pablius</a> <a href="browse-by-person.html" class="x-small">gonzalocasas</a> <a href="browse-by-person.html" class="medium">melocotoncita</a> <a href="browse-by-person.html" class="large">lebowski</a></p>
					</div>
				</div>
			</div>
			<div class="col last span-6">
				<div class="section">
					<h3>Stories by tag</h3>
					
					<div class="tags">
						<p><a href="" class="small">interface</a> <a href="" class="large">design</a> <a href="" class="x-small">layout</a> <a href="" class="medium">typography</a> <a href="" class="large">color</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">Contact</a></p></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><p><a href="">FAQ</a></p></li>
					<li><p><a href="">Support</a></p></li>
				</ul>
			</div>
			
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>
