<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="session">
	<ul>
		<li class="account"><a href="" class="ok">&laquo; upgrade your account</a></li>
		<li><a href="">rodrigogalindez</a></li>
		<li><a href="">people</a></li>
		<li><a href="">project settings</a></li>
		<li><a href="">logout</a></li>
	</ul>
</div>

<div id="wrapper">
	<h1><span class="editable" title="Click to edit">Polaris</span></h1>
	
	<div id="nav">
		<ul>
			<li><a href="" class="active">Stories</a></li>
			<li><a href="">Messages</a></li>
			<li><a href="">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper">
		<div id="page-header">
			<h2>Stories</h2>
			
			<ul>
				<li><a href="">Add new story</a></li>
				<li><a href="">Browse by tags</a></li>
			</ul>
		</div>
		
		<div id="content-wrapper">
			<div id="sprint-stories">
				<div class="module">
					<div class="module-header">
						<h3>This Sprint</h3>
						
						<ul>
							<li><a href="">Sprint settings</a></li>
						</ul>
					</div>
				
					<div class="story">
						<div class="meta">
							<ul>
								<li class="priority"><a href="">11</a></li>
								<li><a href="">Accept</a></li>
							</ul>
						</div>
						
						<div class="description">
							<div class="title">
								<h4 class="medium"><span class="editable" title="Click to edit">Login page needs remember me box</span></h4>
							</div>
							
							<div class="details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="story z">
						<div class="meta">
							<ul>
								<li class="priority"><a href="">11</a></li>
								<li><a href="">Accept</a></li>
							</ul>
						</div>
						
						<div class="description">
							<div class="title">
								<h4 class="large"><span class="editable" title="Click to edit">Cookies not working in homepage</span></h4>
							</div>
							
							<div class="details">
								<ul>
									<li><input type="text" name="some_name" value="@gonzalocasas #design #layout #interface" id="some_name" /><input type="submit" name="some_name" value="Save" id="some_name" class="submit" style="margin-left:5px" /></li>
									<li><p class="tooltip">Add new persons using @ and new tags using #</p></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="story">
						<div class="meta">
							<ul>
								<li class="priority"><a href="">11</a></li>
								<li><a href="">Accept</a></li>
							</ul>
						</div>
						
						<div class="description">
							<div class="title">
								<h4 class="medium"><span class="editable" title="Click to edit">Login page needs remember me box</span></h4>
							</div>
							
							<div class="details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
								
								<table class="common small" style="margin-top: 1em">
									<tr>
										<th><label for="relevance">Relevance</label></th>
										<td><input type="text" name="relevance" value="" id="relevance" /></td>
									</tr>
									<tr>
										<th><label for="estimate">Estimate</label></th>
										<td><input type="text" name="estimate" value="" id="estimate" /></td>
									</tr>
									<tr>
										<th><label for="how-to-demo">How to demo</label></th>
										<td><textarea name="how-to-demo" id="how-to-demo" rows="10" cols="10"></textarea></td>
									</tr>
									<tr>
										<th><label for="description">Description</label></th>
										<td><textarea name="description" id="description" rows="10" cols="10"></textarea></td>
									</tr>
									<tr>
										<th />
										<td><p><input type="submit" name="some_name" value="Save" id="some_name" style="width: auto; "/> or <a href="">dismiss</a></p></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="product-stories">
				<div class="module">
					<div class="module-header">
						<h3>Product backlog</h3>
					</div>
				
					<p>Welcome to the Widget HDTV Community! Our discussion forums are filled with thousands of Widget HDTV owners from around the world. Search for an answer, post your question, or answer other users' questions in the Widget Community. If you need help using this community, check out the Help section.</p>
				</div>
			</div>
			
			<div id="unplanned-stories">
				<div class="module">
					<div class="module-header">
						<h3>Unplanned stories</h3>
					</div>
				
					<p>Welcome to the Widget HDTV Community! Our discussion forums are filled with thousands of Widget HDTV owners from around the world. Search for an answer, post your question, or answer other users' questions in the Widget Community. If you need help using this community, check out the Help section.</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper" style="display: none">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><a href="">Blog</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><a href="">FAQ</a></li>
					<li><a href="">Support</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
