<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="session">
	<ul>
		<li><a href="" class="ok">&laquo; upgrade your account</a></li>
		<li><a href="">rodrigogalindez</a></li>
		<li><a href="">people</a></li>
		<li><a href="">project settings</a></li>
		<li><a href="">logout</a></li>
	</ul>
</div>

<div id="wrapper" class="span-12">
	<h1><span class="editable" title="Click to edit">Polaris</span></h1>
	
	<div id="nav">
		<ul>
			<li><a href="" class="active">Stories</a></li>
			<li><a href="">Messages</a></li>
			<li><a href="">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper">
		<div id="page-header">
			<h2>Stories</h2>
			
			<ul>
				<li><a href="">Add new story</a></li>
				<li><a href="">Browse by tags</a></li>
			</ul>
		</div>
		
		<div id="content-wrapper">
			<div class="col span-6">
				<div class="module">
					<div class="module-header">
						<h3>This Sprint</h3>
						
						<ul>
							<li><a href="">Sprint settings</a></li>
						</ul>
					</div>
					
					<div class="story">
						<div class="story-meta">
							<ul>
								<li class="priority"><a href="">117</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="medium"><span class="editable" title="Click to edit">Login page needs remember me box</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="story">
						<div class="story-meta">
							<ul>
								<li class="priority"><a href="">3</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="small"><span class="editable" title="Click to edit">Re-build error messages</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="story">
						<div class="story-meta">
							<ul>
								<li class="priority"><a href="">3</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="x-small"><span class="editable" title="Click to edit">Re-build error messages</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="story">
						<div class="story-meta">
							<ul>
								<li class="priority"><a href="">3</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="large"><span class="editable" title="Click to edit">Re-build error messages</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col span-3">
				<div class="module">
					<div class="module-header">
						<h3>Product backlog</h3>
					</div>
					
					<div class="story">
						<div class="story-meta col last span-1">
							<ul>
								<li class="priority"><a href="">3</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="large"><span class="editable" title="Click to edit">Login page needs remember me box</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="story">
						<div class="story-meta col last span-1">
							<ul>
								<li class="priority"><a href="">3</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="medium"><span class="editable" title="Click to edit">Login page needs remember me box</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="story">
						<div class="story-meta col last span-1">
							<ul>
								<li class="priority"><a href="">3</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="x-small"><span class="editable" title="Click to edit">A quick story</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col last span-3">
				<div class="module">
					<div class="module-header">
						<h3>Unplanned stories</h3>
					</div>
					
					<div class="story">
						<div class="story-meta col last span-1">
							<ul>
								<li class="priority"><a href="">3</a></li>
								<!-- <li><a href="">Accept</a></li> -->
							</ul>
						</div>
						
						<div class="story-description">
							<div class="story-title">
								<h4 class="small"><span class="editable" title="Click to edit">Redesign cookies</span></h4>
							</div>
							
							<div class="story-details">
								<ul>
									<li><p><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" class="quick-edit" title="Click to edit persons and tags for this story">quick edit</a></p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper" style="display: none">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><a href="">Blog</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><a href="">FAQ</a></li>
					<li><a href="">Support</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
