<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="session">
	<ul>
		<li class="account"><a href="" class="ok">&laquo; upgrade your account</a></li>
		<li><a href="">rodrigogalindez</a></li>
		<li><a href="">people</a></li>
		<li><a href="">project settings</a></li>
		<li><a href="">logout</a></li>
	</ul>
</div>

<div id="wrapper">
	<h1><span class="editable" title="Click to edit">Polaris</span></h1>
	
	<div id="nav">
		<ul>
			<li><a href="" class="active">Stories</a></li>
			<li><a href="">Messages</a></li>
			<li><a href="">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper">
		<div id="content-wrapper">
			<div id="left-content">
				<form action="forms_submit" method="get" accept-charset="utf-8">
					<table class="common login">
						<tr>
							<th>
								<label for="username">Username</label>
							</th>
							<td style="width: 50%">
								<input type="text" name="username" value="" id="username" />
							</td>
							<td />
						</tr>
						<tr>
							<th>
								<label for="password">Password</label>
							</th>
							<td>
								<input type="password" name="password" value="" id="password" />
							</td>
							<td><p><a href="">Forgot password?</a></p></td>
						</tr>
						<tr>
							<th />
							<td colspan="2">
								<p class="submit"><input type="submit" name="some_name" value="Login" id="some_name" class="submit" /> or <a href="">sign up for a free account</a></p>
							</td>
						</tr>
					</table>
				</form>
			</div>
			
			<div id="sidebar">
				<div class="section">
					<h3>What's new?</h3>
					
					<p>Here's a quick changelog of what's new in the app:</p>

					<ul>
						<li><p>Better error messages!</p></li>
						<li><p>More speed!</p></li>
						<li><p>And another really cool feature that uses two lines goes here.</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper" style="display: none">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><a href="">Blog</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><a href="">FAQ</a></li>
					<li><a href="">Support</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
