<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="session">
	<ul>
		<li><a href="upgrade.html" class="ok">&laquo; upgrade your account</a> (you are using 90% of your available space)</li>
		<li><a href="logout.html">logout</a></li>
		<li><a href="project-settings.html">project settings</a></li>
		<li><a href="people.html">people</a></li>
		<li><a href="profile.html">rodrigogalindez</a></li>
	</ul>
</div>

<div id="wrapper" class="span-12">
	<h1><span class="editable">Edit your project name</span></h1>
	
	<div id="nav">
		<ul>
			<li><a href="dashboard.html">Dashboard</a></li>
			<li><a href="browse.html">Browse</a></li>
			<li><a href="messages.html" class="active">Messages</a></li>
			<li><a href="metrics.html">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper">
		<div id="page-header">
			<div class="col span-8">
				<h2>Messages</h2>
			</div>
		</div>
		
		<div id="content-wrapper">
			<div class="col span-8">
				<dl class="message">
					<dt><strong>1</strong></dt>
					<dd><img src="images/avatar.gif" alt="Avatar"></dd>
					<dd>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="meta">by <strong><a href="">Rodrigo Galindez</a></strong>, on 18/09/2009 at 10pm</p>
					</dd>
					<dd>
						<ul>
							<li><a href="">contract.pages</a></li>
							<li><a href="">image.png</a></li>
						</ul>
					</dd>
				</dl>
				
				<dl class="message">
					<dt><strong>1</strong></dt>
					<dd><img src="images/avatar.gif" alt="Avatar"></dd>
					<dd>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="meta">by <strong><a href="">Rodrigo Galindez</a></strong>, on 18/09/2009 at 10pm</p>
					</dd>
					<dd>
						<ul>
							<li><a href="">contract.pages</a></li>
							<li><a href="">image.png</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			
			<div class="col last span-4">
				<div class="section">
					<h3>Post a new message</h3>
					
					<form action="messages_submit" method="get" accept-charset="utf-8">
						<input type="text" name="some_name" value="" id="some_name" />
						<input type="submit" value="Submit &rarr;" />
					</form>
				</div>
			</div>			
		</div>
	</div>
</div>
	
	<div id="footer-wrapper">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">Contact</a></p></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><p><a href="">FAQ</a></p></li>
					<li><p><a href="">Support</a></p></li>
				</ul>
			</div>
			
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>
