<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="session">
	<ul>
		<li class="account"><a href="" class="ok">&laquo; upgrade your account</a></li>
		<li><a href="">rodrigogalindez</a></li>
		<li><a href="">people</a></li>
		<li><a href="">project settings</a></li>
		<li><a href="">logout</a></li>
	</ul>
</div>

<div id="wrapper">
	<h1><span class="editable" title="Click to edit">Polaris</span></h1>
	
	<div id="nav">
		<ul>
			<li><a href="" class="active">Stories</a></li>
			<li><a href="">Messages</a></li>
			<li><a href="">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper">
		<div id="page-header">
			<h2>Stories</h2>
			
			<ul>
				<li><a href="">Add new story</a></li>
				<li><a href="">Browse by tags</a></li>
			</ul>
		</div>
		
		<div id="content-wrapper">
			<div id="left-content">
				<h3>People</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			
			<div id="sidebar">
				<div class="section">
					<h3>Section title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper" style="display: none">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><a href="">Blog</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><a href="">FAQ</a></li>
					<li><a href="">Support</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
