<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="session">
	<ul>
		<li><a href="upgrade.html" class="ok">&laquo; upgrade your account</a></li>
		<li><a href="profile.html">rodrigogalindez</a></li>
		<li><a href="people.html">people</a></li>
		<li><a href="project-settings.html">project settings</a></li>
		<li><a href="logout.html">logout</a></li>
	</ul>
</div>

<div id="wrapper" class="span-12">
	<h1><span class="editable" title="Click to edit">Polaris</span></h1>
	
	<div id="nav">
		<ul>
			<li><a href="">Stories</a></li>
			<li><a href="">Messages</a></li>
			<li><a href="">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper">
		<div id="page-header">
			<h2>My profile</h2>
			
			<ul>
				<li><a href="">Add new person</a></li>
			</ul>
		</div>
		
		<div id="content-wrapper">
			<div class="col span-8">
				<h3>Change your password</h3>
				
				<form action="forms_submit" method="get" accept-charset="utf-8">
					<div class="field">
						<div class="col span-2 align-right">
							<label for="username">Username</label>
						</div>
						<div class="col last span-3">
							<input type="text" name="username" value="" id="username" />
						</div>
					</div>
					
					<div class="field">
						<div class="col span-2 align-right">
							<label for="password">Password</label>
						</div>
						<div class="col last span-3">
							<input type="password" name="password" value="" id="password" /> <p class="tooltip"><a href="">Forgot password?</a></p>
						</div>
					</div>
					
					<div class="field">
						<div class="col last span-4 nudge-1">
							<p class="submit"><input type="submit" name="some_name" value="Login" id="some_name" class="submit" /> or <a href="">sign up for a free account</a></p>
						</div>
					</div>
				</form>
			</div>
			
			<div class="col last span-4">
				<div class="section">
					<h3>Example section</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">Contact</a></p></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><p><a href="">FAQ</a></p></li>
					<li><p><a href="">Support</a></p></li>
				</ul>
			</div>
			
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>
