<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Templates</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>

<div id="wrapper" class="span-12">
	<h1>App name</h1>
	
	<div id="inner-wrapper">
		<div id="content-wrapper">
			<div id="setup-wrapper">
				<h2><small>1</small> ● <small>2</small> ● <strong>3</strong></h2>
				<h3>Add your first story</h3>
				
				<p>To get started, let's add your first story. For example, "Redesign login form @lebowsky #interface". Use @ to link this story to a person, and # to tag it. Don't worry about people and tags, they will be interpreted and added automagically.</p>
				
				<form action="setup-1_submit" method="get" accept-charset="utf-8">
					<table>
						<tr>
							<th style="width: 70%">
								<input type="text" name="some_name" value="" id="some_name" />
							</th>
							<td>
								<input type="submit" name="some_name" value="Add story &amp; Finish" id="some_name" class="submit" />
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper" style="display: none">
		<div id="footer">
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>
