<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Claris &mdash; Sign up for our beta release!</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
</head>

<body>
	<div id="wrapper">
		<h1>Claris</h1>
		<h2>SCRUM with steroids</h2> 
		
		<p>Register for an early-bird beta! Enter your e-mail:</p>
		
		<form action="index_submit" method="get" accept-charset="utf-8">
			<table>
				<th>
					<input type="text" name="some_name" value="" id="some_name" />
				</th>
				<td>
					<input type="image" name="some_name" value="" id="some_name" src="images/subscribe-button.gif" class="subscribe-button"/>
				</td>
			</table>
		</form>
		
		<p class="twitter"><a href="http://www.twitter.com/clarisapp">Follow Claris on Twitter</a></p>
	</div>
</body>
</html>
