<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Browse</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8" />
</head>

<body>

<div id="session">
	<ul>
		<li>Claris</li>
		<!-- <li><a href="upgrade.html" class="ok">upgrade your account</a> (you are using 90% of your available space)</li> -->
		<li><a href="logout.html">logout</a></li>
		<li><a href="project-settings.html">project settings</a></li>
		<li><a href="people.html">people</a></li>
		<li><a href="profile.html">rodrigogalindez</a></li>
	</ul>
</div>

<div class="notice success span-12" style="display: none;">
	<p>Success! You have successfully invited Pablo Micoloni to Claris. <a href="">Close this message</a>.</p>
</div>

<div id="wrapper" class="span-12">
	<h1>
		<span class="editable">Edit your project name</span>
		<!-- <input type="text" name="some_name" value="Edit your project name" id="some_name" style="width: 98.9%; font-size: 1em;" /> -->
	</h1>
	
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="dashboard.html" class="dashboard">Dashboard</a></li>
			<li><a href="browse.html" class="browse active">Browse</a></li>
			<li><a href="messages.html" class="messages">Messages</a></li>
			<li><a href="metrics.html" class="metrics">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper" class="clearfix">
		<div id="page-header" class="clearfix">
			<div id="page-header-title">
				<h2>Browse</h2>
				
				<ul>
					<li><a href="">Daily Scrums</a></li>
					<li><a href="">Previous Sprints</a></li>
				</ul>
			</div>
		</div>
		
		<div id="content-wrapper" class="clearfix">
			<div class="col span-6">
				<div class="section clearfix">
					<div class="section-header clearfix">
						<div class="section-header-meta clearfix">
							<h3>Stories by person</h3>
						</div>
					</div>
					
					<div class="tags">
						<p><a href="browse-by-person.html" class="small">rodrigogalindez</a> <a href="browse-by-person.html" class="large">pablius</a> <a href="browse-by-person.html" class="x-small">gonzalocasas</a> <a href="browse-by-person.html" class="medium">melocotoncita</a> <a href="browse-by-person.html" class="large">lebowski</a></p>
					</div>
				</div>
			</div>
			
			<div class="col last span-6">
				<div class="section clearfix">
					<div class="section-header clearfix">
						<div class="section-header-meta clearfix">
							<h3>Stories by tag</h3>
						</div>
					</div>
					
					<div class="tags">
						<p><a href="" class="small">interface</a> <a href="" class="large">design</a> <a href="" class="x-small">layout</a> <a href="" class="medium">typography</a> <a href="" class="large">color</a> <a href="" class="x-small">bug</a> <a href="" class="medium">feature</a> <a href="" class="x-small">urgent</a> <a href="" class="large">interaction</a> <a href="" class="medium">user</a> <a href="" class="x-large">ia</a> <a href="" class="large">copy</a> <a href="" class="x-small">images</a></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
	
	<div id="footer-wrapper">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">Contact</a></p></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><p><a href="">FAQ</a></p></li>
					<li><p><a href="">Support</a></p></li>
				</ul>
			</div>
			
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>
