<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Browsing stories for Rodrigo Galindez</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8" />
</head>

<body>

<div id="session">
	<ul>
		<li>Claris</li>
		<!-- <li><a href="upgrade.html" class="ok">upgrade your account</a> (you are using 90% of your available space)</li> -->
		<li><a href="logout.html">logout</a></li>
		<li><a href="project-settings.html">project settings</a></li>
		<li><a href="people.html">people</a></li>
		<li><a href="profile.html">rodrigogalindez</a></li>
	</ul>
</div>

<div class="notice success span-12" style="display: none;">
	<p>Success! You have successfully invited Pablo Micoloni to Claris. <a href="">Close this message</a>.</p>
</div>

<div id="wrapper" class="span-12">
	<h1>
		<span class="editable">Edit your project name</span>
		<!-- <input type="text" name="some_name" value="Edit your project name" id="some_name" style="width: 98.9%; font-size: 1em;" /> -->
	</h1>
	
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="dashboard.html" class="dashboard">Dashboard</a></li>
			<li><a href="browse.html" class="browse active">Browse</a></li>
			<li><a href="messages.html" class="messages">Messages</a></li>
			<li><a href="metrics.html" class="metrics">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper" class="clearfix">
		<div id="page-header" class="clearfix">
			<div id="page-header-title">
				<h2>Browsing stories for @rodrigogalindez</h2>
			</div>
		</div>
		
		<div id="content-wrapper" class="clearfix">
			<div class="col last span-12">
				<div class="stories-header clearfix">
					<ul>
						<li class="sprint"><strong>Sprint</strong></li>
						<li class="status"><strong>Status</strong></li>
						<li><strong>Story</strong></li>
					</ul>
				</div>
				
				<div class="story no-draggeable clearfix">
					<div class="story-sprint">
						<span>224</span>
					</div>
					
					<div class="story-status">
						<ul>
							<li><a href="" class="accepted">Accepted</a></li>
						</ul>
					</div>
					
					<div class="story-description">
						<h4 class="large"><span class="number" title="Story ID">232</span><a href="" title="View source for this story">File attaching not working</a></h4>
						
						<ul>
							<li><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" title="View stories for @gonzalocasas">@gonzalocasas</a></li>
						</ul>
					</div>
				</div>
				
				<div class="story no-draggeable clearfix">
					<div class="story-sprint">
						<span>17</span>
					</div>
					
					<div class="story-status">
						<ul>
							<li><a href="" class="accepted">In progress</a></li>
						</ul>
					</div>
					
					<div class="story-description">
						<h4 class="x-small"><span class="number" title="Story ID">232</span><a href="" title="View source for this story">File attaching not working</a></h4>
						
						<ul>
							<li><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" title="View stories for @gonzalocasas">@gonzalocasas</a></li>
						</ul>
					</div>
				</div>
				
				<div class="story no-draggeable clearfix">
					<div class="story-sprint">
						<span>8</span>
					</div>
					
					<div class="story-status">
						<ul>
							<li><a href="" class="accepted">Rejected</a></li>
						</ul>
					</div>
					
					<div class="story-description">
						<h4 class="small"><span class="number" title="Story ID">232</span><a href="" title="View source for this story">File attaching not working</a></h4>
						
						<ul>
							<li><a href="" title="View stories for @gonzalocasas">@gonzalocasas</a> <a href="" title="View stories tagged as 'interface'">#interface</a> <a href="" title="View stories tagged as 'design'">#design</a> <a href="" title="View stories tagged as 'layout'">#layout</a> <a href="" title="View stories for @gonzalocasas">@gonzalocasas</a></li>
						</ul>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
	
	<div id="footer-wrapper">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">Contact</a></p></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><p><a href="">FAQ</a></p></li>
					<li><p><a href="">Support</a></p></li>
				</ul>
			</div>
			
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>
