<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>People</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8" />
</head>

<body>

<div id="session">
	<ul>
		<li>Claris</li>
		<!-- <li><a href="upgrade.html" class="ok">upgrade your account</a> (you are using 90% of your available space)</li> -->
		<li><a href="logout.html">logout</a></li>
		<li><a href="project-settings.html">project settings</a></li>
		<li><a href="people.html">people</a></li>
		<li><a href="profile.html">rodrigogalindez</a></li>
	</ul>
</div>

<div class="notice success span-12" style="display: none;">
	<p>Success! You have successfully invited Pablo Micoloni to Claris. <a href="">Close this message</a>.</p>
</div>

<div id="wrapper" class="span-12">
	<h1>
		<span class="editable">Edit your project name</span>
		<!-- <input type="text" name="some_name" value="Edit your project name" id="some_name" style="width: 98.9%; font-size: 1em;" /> -->
	</h1>
	
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="dashboard.html" class="dashboard">Dashboard</a></li>
			<li><a href="browse.html" class="browse">Browse</a></li>
			<li><a href="messages.html" class="messages">Messages</a></li>
			<li><a href="metrics.html" class="metrics">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper" class="clearfix">
		<div id="page-header" class="clearfix">
			<div id="page-header-title">
				<h2>People</h2>
			</div>
			
			<div id="page-header-action">
				<input type="text" name="some_name" id="some_name" value="@username1 @username2" />
				
				<ul>
					<li class="loader"><a href="" class="mini-button">Add</a></li>
					<li class="tooltip"><a href="">Syntax help.</a></li>
				</ul>
			</div>
		</div>
		
		<div id="content-wrapper" class="clearfix">
			<div class="col span-12">
				<dl class="person clearfix">
					<dt><img src="images/avatar.png" alt="Avatar" /></dt>
					<dd class="name">
						<ul>
							<li><a href="">@pablomicolini</a></li>
							<li>Pablo Micolini</li>
						</ul>
					</dd>
					<!-- <dd class="description">
						<p><strong>Not yet invited.</strong> Invite this user to collaborate in this project.</p>
						<input type="text" name="some_name" value="e-mail address" id="some_name" />
					</dd> -->
					<dd class="availability">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">Contact</a></p></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><p><a href="">FAQ</a></p></li>
					<li><p><a href="">Support</a></p></li>
				</ul>
			</div>
			
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>