<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>People</title>
	<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="master" charset="utf-8" />
</head>

<body>

<div id="session">
	<ul>
		<li>Claris</li>
		<!-- <li><a href="upgrade.html" class="ok">upgrade your account</a> (you are using 90% of your available space)</li> -->
		<li><a href="logout.html">logout</a></li>
		<li><a href="project-settings.html">project settings</a></li>
		<li><a href="people.html">people</a></li>
		<li><a href="profile.html">rodrigogalindez</a></li>
	</ul>
</div>

<div class="notice success span-12" style="display: none;">
	<p>Success! You have successfully invited Pablo Micoloni to Claris. <a href="">Close this message</a>.</p>
</div>

<div id="wrapper" class="span-12">
	<h1>
		<span class="editable">Edit your project name</span>
		<!-- <input type="text" name="some_name" value="Edit your project name" id="some_name" style="width: 98.9%; font-size: 1em;" /> -->
	</h1>
	
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="dashboard.html" class="dashboard">Dashboard</a></li>
			<li><a href="browse.html" class="browse">Browse</a></li>
			<li><a href="messages.html" class="messages">Messages</a></li>
			<li><a href="metrics.html" class="metrics">Metrics</a></li>
		</ul>
	</div>
	
	<div id="inner-wrapper" class="clearfix">
		<div id="page-header" class="clearfix">
			<div id="page-header-title">
				<h2>Project Settings</h2>
			</div>
		</div>
		
		<div id="content-wrapper" class="clearfix">
			<div class="col span-8">
				<table class="project-settings">
					<tr>
						<th><label for="length">Sprint length</label></th>
						<td>
							<select id="length" name="length">
								<option>1 week</option>
								<option>2 weeks</option>
								<option>3 weeks</option>
								<option>4 weeks</option>
							</select>
						</td>
					</tr>
					<tr>
						<th><label for="scale">Point Scale</label></th>
						<td>
							<select id="scale" name="scale">
								<option>Fibonacci</option>
								<option>Custom</option>
							</select>
						</td>
					</tr>
					<tr>
						<th><label for="">Use local repository</label></th>
						<td>
							<input type="checkbox" name="some_name" value="" id="some_name" />
						</td>
					</tr>
					<tr>
						<th />
						<td>
							<ul class="form-actions">
								<li><a href="" class="mini-button" style="display: inline">Save</a></li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			
			<div class="col last span-4">
				<div class="section clearfix">
					<div class="section-header clearfix">
						<div class="section-header-meta clearfix">
							<h3>Project Backup</h3>
						</div>
					</div>
					
					<div class="section-content">
						<p>You can download a full copy of your project at Claris, just to be safe, or to play magic with it.</p>
						<a class="mini-button">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div id="footer-wrapper">
		<div id="footer">
			<div class="section">
				<h3>About</h3>
				
				<ul>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">Contact</a></p></li>
				</ul>
			</div>
			
			<div class="section">
				<h3>Help</h3>
				
				<ul>
					<li><p><a href="">FAQ</a></p></li>
					<li><p><a href="">Support</a></p></li>
				</ul>
			</div>
			
			<p class="copyright">Copyright © 2009, ourappname. All rights reserved.</p>
			<p class="copyright"><a href="">Privacy Policy</a>. <a href="">Terms and Conditions</a>.</p>
		</div>
	</div>

</body>
</html>